@import './variables.scss';

.appointment-card {
  width: 475px;
  height: 174px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.5rem;
  margin-right: 2rem;
  position: relative;

  p {
    margin-bottom: 5px;
  }

  &__date {
    font-weight: bold;
  }

  &__doctor {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__descr {
    margin-left: 0.7rem;
    font-size: 1rem;
    font-weight: bold;
    span {
      font-weight: normal;
      color: $color-light;
    }
  }
}
